# Ignore node/npm build folders
node_modules/
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor files
*.swp
*.swo
*.idea/
.vscode/

# Ignore large files inside any folder
**/*.mp4
**/*.mov
**/*.avi
**/*.zip
**/*.tar.gz
